{% extends "base.html" %}
{% load static %}

{% block css %}
<!-- css page -->
{% endblock %}

{% block breadcrumb %}
<!-- here you go -->
{% endblock %}

{% block content %}
<div class="section section-data-tables">
  <div class="col s12 m8 l6 ">
    <div class="card card card-default scrollspy">
      <div class="card-content">
        <form action="{% url 'mainapp:log_general' %}" method="GET">
          {% csrf_token %}
          <div class="row">
            <div class="col s12 m6 l6">
              <label> Tipe Log </label>
              <select name="model_name">
                <option value="log_inquiry" {% if modelSelected == 'log_inquiry' %} selected {% endif %}> INQUIRY </option>
                <option value="log_payment" {% if modelSelected == 'log_payment' %} selected {% endif %}> PAYMENT </option>
                <option value="log_reversal" {% if modelSelected == 'log_reversal' %} selected {% endif %}> REVERSAL </option>
              </select>
            </div>
            <div class="col s12 m6 l6">
              <label> Tahun </label>
              <select name="year_selected">
                {% for year in available_years %}
                <option value="{{ year }}" {% if yearSelected == year %} selected {% endif %}> {{ year }} </option>
                {% endfor %}
              </select>
            </div>

            <div class="input-field col s12">
              <button class="btn waves-effect waves-light submit" type="submit" name="action">
                Submit <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="section section-data-tables">
  <div class="col s12 m12 l12">
    <div id="button-trigger" class="card card card-default scrollspy">
      <div class="card-content">
        <div class="table-responsive">
          <table id="myTable" class="display table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>Kode Biller</th>
                <th>Kode Channel</th>
                <th>Nama Channel</th>
                <th>No Bayar</th>
                <th>RC</th>
                <th>Message</th>
                <th class="no-sort">TS Respon</th>
                <th class="no-sort">Time Elapsed</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<script>
  $(document).ready(function() {
    var exclude_filter = ['Time Elapsed', 'TS Respon'];
    var exclude_sort = '';

    $('#myTable thead tr').clone(true).appendTo( '#myTable thead' );
    $('#myTable thead tr:eq(1) th').each( function (i) {
      var title = $(this).text();
      if (!exclude_filter.includes(title)){
        $(this).html( '<input type="text" placeholder="Search" />' );
      }

      $('input', this).on( 'keyup change', function () {
        if ( dtTable.column(i).search() !== this.value ) {
          dtTable
          .column(i)
          .search( this.value )
          .draw();
        }
      } );
    });

    var dtTable = $('#myTable').DataTable( {
      "orderCellsTop": true,
      "fixedHeader": true,
      "processing": true,
      "serverSide": true,
      "scrollX": true,
      "ajax": {
        "url": "{% url 'mainapp:ajax_datatables' modelSelected %}",
        "type": "POST",
        "data": {
          "csrfmiddlewaretoken": "{{ csrf_token }}",
          "year_selected": "{{yearSelected}}"
        },
      },
      "columnDefs": [{
        "targets"  : 'no-sort', // th class name
        "orderable": false,
      }],
      "order": [[ 0, "desc" ]],
      "columns": [
      {"data": "ts"},
      { "data": "kode_biller" },
      { "data": "kode_channel" },
      { "data": "nama_channel" },
      { "data": "nomor_pembayaran" },
      { "data": "rc" },
      { "data": "catatan" },
      { "data": "updated" },
      { "data": "time_elapsed",},
      ]
    } );
  } );
</script>

{% endblock %}
