{% extends "base.html" %}
{% load static %}

{% block css %}

<style>
  .msg {
    width:100%;
    border: 1px solid;
    padding:10px;
    margin: 20px;
    color: grey;
  }
  .msg-error {
    // rouge
    border-color: #d32f2f;
    background-color: #ef5350;
    color: white;
  }
  .msg-warning {
    border-color: #ef6c00;
    background-color: #ff9800;
    color: white;
  }

  .msg-info{
    border-color: #0288d1;
    background-color: #29b6f6;
    color: white;
  }

</style>
{% endblock %}

{% block breadcrumb %}
<!-- here you go -->
{% endblock %}

{% block content %}

<div class="col s12 m12 l12">

  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="msg {{ message.tags }}"{% endif %}> {{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}


  {% include 'mainapp/mapping_biller/form_create.html' %}
  {% include 'mainapp/mapping_biller/upload_csv_biller.html' %}


</div>

<div class="section section-data-tables">
  <div class="col s12 m12 l12">
    <div id="button-trigger" class="card card card-default scrollspy">
      <div class="card-content">
        <div class="table-responsive">
          <table id="myTable" class="display table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Created</th>
                <th>Kode </th>
                <th>Nama</th>
                <th>Tipe Biller </th>
                <th>Tipe Bayar</th>
                <th>INQ</th>
                <th>PAY </th>
                <th>REV </th>
                <th>Catatan</th>
                <th>Creator</th>
                <th class="no-sort"></th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<script>
  $(document).ready(function() {
    $('.collapsible').collapsible();

    var exclude_filter = ['Action', ''];
    var exclude_sort = '';

    $('#myTable thead tr').clone(true).appendTo( '#myTable thead' );
    $('#myTable thead tr:eq(1) th').each( function (i) {
      var title = $(this).text();
      if (!exclude_filter.includes(title)){
        $(this).html( '<input type="text" placeholder="Search" />' );
      }

      $('input', this).on( 'keyup change', function () {
        if ( dtTable.column(i).search() !== this.value ) {
          dtTable
          .column(i)
          .search( this.value )
          .draw();
        }
      } );
    });

    var dtTable = $('#myTable').DataTable( {
      "orderCellsTop": true,
      "fixedHeader": true,
      "processing": true,
      "serverSide": true,
      "scrollX": true,
      "ajax": {
        "url": "{% url 'mainapp:ajax_datatables' modelSelected %}",
        "type": "POST",
        "data": {
          "csrfmiddlewaretoken": "{{ csrf_token }}"
        },
      },
      "columnDefs": [ {
        "targets"  : 'no-sort', // th class name
        "orderable": false,
      }],
      "order": [[ 0, "desc" ]],
      "columns": [
      { "data": "created_at"},
      { "data": "kode_biller" },
      { "data": "nama_biller" },
      { "data": "tipe_biller" },
      { "data": "tipe_bayar" },
      { "data": "url_inquiry" },
      { "data": "url_payment" },
      { "data": "url_reversal" },
      { "data": "catatan"},
      { "data": "creator"},
      {
        "data": null,
        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
          var url = "/devliatlog/delete_biller/"+oData.kode_biller;
          $(nTd).html("<a href='"+url+"' onclick='return confirmDelete()' > <i class='material-icons red-text'>delete</i> </a>");
        },
      },
      ]
    } );
  } );

  function confirmDelete(){
    var result = confirm("Yakin hapus data?");
    if (!result)
    return false;
    return true;
  }

</script>

{% endblock %}
