<a class="btn btn-sm btn-warning" data-toggle="collapse" href="#tambahBiller" role="button" aria-expanded="false" aria-controls="tambahBiller">
  Tambah Biller
</a>
<div class="collapse show" id="tambahBiller">
  <div class="card">
    <div class="card-content">
      <div class="container">
        <form class="form" action="{% url 'mainapp:dashboard' %}" method="POST" style="margin-top:10px">
          {% csrf_token %}
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"> <b>Kode (5 digit)*</b></label>
            <div class="col-sm-10">
              <input name="kode" type="text" class="form-control" pattern=".{5}" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label"><b>Nama*</b></label>
            <div class="col-sm-10">
              <input name="nama" type="text" class="form-control" required>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-2 col-form-label"> Tipe </label>
            <div class="col-md-4">
              <select class="form-control" name="tipe">
                <option value="P2H"> P2H </option>
                <option value="H2H"> H2H </option>
              </select>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">URL </label>
            <div class="col-sm-10">
              <input name="url" type="url" class="form-control">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label">Info</label>
            <div class="col-sm-10">
              <input name="info_1" type="text" class="form-control">
            </div>
          </div>

          <hr/>
          <div class="form-group">
            <button type="submit" class="btn btn-sm btn-success">
              Submit <i class="fa fa-paper-plane"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
