{% extends "base.html" %}
{% load static %}

{% block css %}
<style>
  .dataTables_length select {
    width: auto !important;
    padding: 0px 10px !important;
    display: inherit !important;
  }

  #main .section-data-tables .dataTables_wrapper .dataTables_length, #main .section-data-tables .dataTables_wrapper .dataTables_filter {
    display: inherit !important;
  }
</style>
{% endblock %}

{% block breadcrumb %}
<!-- -->
{% endblock %}

{% block content %}
<div class="col s12">
  <div class="container">
    <div class="section section-data-tables">
      <div class="card">
        <div class="card-content">
          <p class="caption mb-0">
            All Logs Here
            <!-- Under Development -->
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
