<a class="btn btn-sm btn-info" data-toggle="collapse" href="#filterData" role="button" aria-expanded="false" aria-controls="filterData">
  Filter Data
</a>
<div class="collapse show" id="filterData">
  <div class="card">
    <div class="card-content">
      <div class="container">
        <form class="form" action="{% url 'mainapp:dashboard' %}" method="GET" style="margin-top:10px">
          <div class="form-group row">
            <label class="col-md-12 col-form-label"> Tipe Biller </label>
            <div class="col-md-12">
              <select class="form-control" name="filter_tipe_biller">
                <option value=""> </option>
                <option value="P2H" {% if filter_tipe_biller == 'P2H' %} selected {% endif %}> P2H </option>
                <option value="H2H" {% if filter_tipe_biller == 'H2H' %} selected {% endif %}> H2H </option>
              </select>
            </div>
          </div>
          <input type="hidden" name="form_filter" value="true">
          <div class="form-group">
            <button type="submit" class="btn btn-sm btn-primary">
              Filter <i class="fa fa-filter"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
