{% extends "base.html" %}
{% load static %}

{% block css %}
<!-- css page -->
{% endblock %}

{% block breadcrumb %}
<!-- breadcrumb -->
{% endblock %}

{% block content %}

<div class="section section-data-tables">
  <div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
      <div class="card-content">
        <div class="table-responsive">
          <table id="myTable" class="display table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>Kode Biller</th>
                <th>Kode Bayar</th>
                <th>Tanggal Mulai</th>
                <th>Tanggal Akhir</th>
                <th>Nominal Rekon </th>
                <th>RC</th>
                <th>Message </th>
                <th class="no-sort">TS Respon</th>
                <th class="no-sort">Time Elapsed</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<script>
  $(document).ready(function() {
    var exclude_filter = ['Time Elapsed', 'TS Respon'];
    var exclude_sort = '';

    $('#myTable thead tr').clone(true).appendTo( '#myTable thead' );
    $('#myTable thead tr:eq(1) th').each( function (i) {
      var title = $(this).text();
      if (!exclude_filter.includes(title)){
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
      }

      $('input', this).on( 'keyup change', function () {
        if ( dtTable.column(i).search() !== this.value ) {
          dtTable
          .column(i)
          .search( this.value )
          .draw();
        }
      } );
    });

    var dtTable = $('#myTable').DataTable( {
      "orderCellsTop": true,
      "fixedHeader": true,
      "processing": true,
      "serverSide": true,
      "scrollX": true,

      "ajax": {
        "url": "{% url 'mainapp:ajax_datatables' modelSelected %}",
        "type": "POST",
        "data": {
          "csrfmiddlewaretoken": "{{ csrf_token }}"
        },
      },
      "columnDefs": [ {
        "targets"  : 'no-sort', // th class name
        "orderable": false,
      }],
      "order": [[ 0, "desc" ]],
      "columns": [
      { "data": "ts"},
      { "data": "kode_biller" },
      { "data": "kode_bayar" },
      { "data": "tanggal_mulai" },
      { "data": "tanggal_akhir" },
      { "data": "nominal_rekon" },
      { "data": "rc" },
      { "data": "response_msg" },
      { "data": "ts_update" },
      { "data": "time_elapsed" },
      ]
    } );
  } );
</script>
{% endblock %}
