<li class="bold">
  <a class="waves-effect waves-cyan" href="#">
    <i class="material-icons">dashboard</i>
    <span class="menu-title">Dashboard</span>
  </a>
</li>
<li class="navigation-header">
  <a class="navigation-header-text">Applications</a>
  <i class="navigation-header-icon material-icons">more_horiz</i>
</li>
<li class="bold">
  <a class="waves-effect waves-cyan" href="#">
    <i class="material-icons">account_balance</i>
    <span class="menu-title">Prodi</span>
  </a>
</li>
<li class="bold">
  <a class="waves-effect waves-cyan" href="#">
    <i class="material-icons">book</i>
    <span class="menu-title">Bianglala</span>
  </a>
</li>
<li class="bold">
  <a class="waves-effect waves-cyan" href="#">
    <i class="material-icons">description</i>
    <span class="menu-title">AIPT</span>
  </a>
</li>
