<li class="bold">
  <a class="waves-effect waves-cyan" href="{% url 'mainapp:index' %}">
    <i class="material-icons">dashboard</i>
    <span class="menu-title">Dashboard</span>
  </a>
</li>
<li class="navigation-header">
  <a class="navigation-header-text">Applications</a>
  <i class="navigation-header-icon material-icons">more_horiz</i>
</li>
<li class="bold">
  <a class="waves-effect waves-cyan" href="{% url 'mainapp:log_general' %}">
    <i class="material-icons">home</i>
    <span class="menu-title">Logs </span>
  </a>
</li>
<li class="bold">
  <a class="waves-effect waves-cyan" href="{% url 'mainapp:trx' %}">
    <i class="material-icons">attach_money</i>
    <span class="menu-title">Transaksi</span>
  </a>
</li>
<li class="bold">
  <a class="waves-effect waves-cyan" href="{% url 'mainapp:biller' %}">
    <i class="material-icons">account_balance</i>
    <span class="menu-title">Mapping Biller</span>
  </a>
</li>
