<div class="nav-wrapper">
  <ul class="left hide-on-med-and-down" id="ul-horizontal-nav" data-menu="menu-navigation">
    <li {% if app == "dashboard" %} class="active" {% endif %}>
      <a href="{% url 'mainapp:index' %}">
        <i class="material-icons">dashboard</i> <span> Dashboard </span>
      </a>
    </li>
    <li {% if app == "log_general" %} class="active" {% endif %}>
      <a href="{% url 'mainapp:log_general' %}">
        <i class="material-icons">home</i> <span> Logs </span>
      </a>
    </li>
    <li {% if app == "trx" %} class="active" {% endif %}>
      <a href="{% url 'mainapp:trx' %}">
        <i class="material-icons">attach_money</i> <span> Transaksi </span>
      </a>
    </li>
    <li {% if app == "biller" %} class="active" {% endif %}>
      <a href="{% url 'mainapp:biller' %}">
        <i class="material-icons">account_balance</i> <span> Mapping Biller </span>
      </a>
    </li>
  </ul>
</div>
