{% extends "base.html" %}
{% load static %}

{% block css %}
<!-- css page -->
{% endblock %}

{% block breadcrumb %}
<!-- breadcrumb -->
{% endblock %}

{% block content %}
<div class="section">
  <div class="col s12 m12">
    <div class="card card card-default scrollspy">
      <div class="card-content">
        <form action="{% url 'mainapp:trx' %}" method="GET">
          {% csrf_token %}
          <div class="row">            
            <div class="col s12 m6 l4">
              <label> Tahun </label>
              <select name="year_selected">
                {% for year in available_years %}
                <option value="{{ year }}" {% if yearSelected == year %} selected {% endif %}> {{ year }} </option>
                {% endfor %}
              </select>
            </div>

            <div class="col s12 m6 l4">
              <label> Bulan </label>
              <select name="month_selected">
                {% for month in available_months %}
                <option value="{{ month.id }}" {% if month_selected == month.id %} selected {% endif %}> {{ month.name }}  </option>
                {% endfor %}
              </select>
            </div>

            <div class="col s12 m6 l4">
              <label> Tanggal </label>
              <select name="day_selected">
                <option value="all" {% if day_selected == 'all' %} selected {% endif %}> ALL </option>
                {% for day in days %}
                <option value="{{ day }}" {% if day_selected == day %} selected {% endif %}> {{ day }}  </option>
                {% endfor %}
              </select>
            </div>

            <div class="col s12 m6 l4">
              <label> Kode Biller </label>
              <input type="text" name="biller" value={{biller}}>
            </div>

            <div class="col s12 m6 l4">
              <label> Nomor Bayar </label>
              <input type="text" name="nomor_bayar" value={{nomor_bayar}}>
            </div>

            <div class="input-field col s12">
              <button class="btn waves-effect waves-light submit" type="submit" name="action">
                Submit <i class="material-icons right">send</i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="section section-data-tables">
  <div class="col s12 m12 l12">
    <div class="card card card-default scrollspy">
      <div class="card-content">
        <div class="table-responsive">
          <table id="myTable" class="display table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Timestamp</th>
                <th>No Jurnal</th>
                <th>Kode Biller</th>
                <th>Channel </th>
                <th>Nama</th>
                <th>Nomor Pembayaran </th>
                <th>Nominal Bayar </th>
                <th>Status Bayar </th>
                <th>RC</th>
                <th>Message </th>
                <th>Komentar</th>
                <th class="no-sort">TS Respon</th>
                <th class="no-sort">Time Elapsed</th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}

<script>
  $(document).ready(function() {
    var exclude_filter = ['Time Elapsed', 'TS Respon'];
    var exclude_sort = '';

    $('#myTable thead tr').clone(true).appendTo( '#myTable thead' );
    $('#myTable thead tr:eq(1) th').each( function (i) {
      var title = $(this).text();
      if (!exclude_filter.includes(title)){
        $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
      }

      $('input', this).on( 'keyup change', function () {
        if ( dtTable.column(i).search() !== this.value ) {
          dtTable
          .column(i)
          .search( this.value )
          .draw();
        }
      } );
    });

    var dtTable = $('#myTable').DataTable( {
      "orderCellsTop": true,
      "fixedHeader": true,
      "processing": true,
      "serverSide": true,
      "scrollX": true,

      "ajax": {
        "url": "{% url 'mainapp:ajax_datatables' modelSelected %}",
        "type": "POST",
        "data": {
          "csrfmiddlewaretoken": "{{ csrf_token }}",
          "year_selected": "{{yearSelected}}",
          "month_selected": "{{month_selected}}",
          "day_selected": "{{day_selected}}",
          "biller": "{{biller}}",
          "nomor_bayar": "{{nomor_bayar}}"
        },
      },
      "columnDefs": [ {
        "targets"  : 'no-sort', // th class name
        "orderable": false,
      }],
      "order": [[ 0, "desc" ]],
      "columns": [
      { "data": "ts"},
      { "data": "no_jurnal" },
      { "data": "kode_biller" },
      { "data": "nama_channel" },
      { "data": "nama" },
      { "data": "nomor_pembayaran" },
      { "data": "nominal_bayar" },
      { "data": "status_bayar" },
      { "data": "rc" },
      { "data": "catatan" },
      { "data": "komentar" },
      { "data": "updated" },
      { "data": "time_elapsed" },
      ]
    } );
  } );
</script>
{% endblock %}
